<div mat-dialog-content>
   
    <mat-card>
        <mat-card-header>
            
            <mat-card-title>{{data.titre}}</mat-card-title>
            <mat-card-subtitle>Le {{data.date | date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <section>
                <p>
                 {{data.description}}
                </p>
            </section>
            <mat-divider></mat-divider>
            <section>
                <h3 class="liste-inscrit">Liste des inscrits</h3>
                <table>
                    <tr *ngFor="let item of data.inscrits">
                        <td><mat-icon>person</mat-icon></td>
                        <td>{{item | namefrommail }}</td>
                    </tr>
                </table>
            </section>
       
        </mat-card-content>
    </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Fermer</button>
</div>
