<div class="card-div">
    <mat-card>
    <div style="display: flex;">
        <div mat-card-avatar>
            <mat-icon class="icon-display">event</mat-icon>
        </div>
        <div>Proposer vos activités <br/>
           Participer à celles des autres
        </div>
    </div>
    </mat-card>
</div>

<div class="card-div">
    <mat-card>
    <div style="display: flex;">
        <div mat-card-avatar>
            <mat-icon class="icon-display">group</mat-icon>
        </div>
        <div>Créer vos groupes privés <br/>
           Partager vos activités entre amis
        </div>
    </div>
    </mat-card>
</div>
<div class="card-div">
    <button *ngIf="!(authenticationService.userData | async)?.email" color="primary" mat-raised-button [routerLink]="['/app/signUp']" routerLinkActive="router-link-active" >Créer mon compte</button>
</div>