.trappist-image {
    background-image: url('https://dgalywyr863hv.cloudfront.net/pictures/clubs/445577/9028791/1/large.jpg');
    background-size: cover;
  }

  .width-card {
    max-width: 200px;
  }

  .card-div {
      margin: 5px;
      padding: 5px;
  }

