
<div class="card-div">
    <mat-card class="width-card">
        <mat-card-header>
            <div mat-card-avatar class="trappist-image"></div>
            <mat-card-title>Trap'piste team</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p>
            Bienvenue sur le site de la trap'piste team. 
            Pour voir toutes les activités organisées,  
            connectez-vous en cliquant sur l'îcone en haut à droite. 
            Une fois connecté, un item de menu apparaitra.  
            Pas de compte ? Demandez à votre admin préféré ;-) 
        </p>
        </mat-card-content>
    </mat-card>
</div>