<mat-vertical-stepper style="width: 100%" [linear]="true" #stepper>
    <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>Donner un nom au groupe</ng-template>
          <mat-form-field>
            <input matInput placeholder="Nom du groupe" formControlName="nameCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button color="primary" matStepperNext>Suivant</button>
        </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Ajouter des membres</ng-template>
        <div>
            <button mat-button color="primary" matStepperNext>Suivant</button>
        </div>
        <app-manage-group-members [editable]="true" (addMember)="onAddMember($event)" (removeMember)="onRemoveMember($event)"></app-manage-group-members>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Sauvegarder</ng-template>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button color="primary" (click)="addGroup()">Sauvegarder</button>
        </div>
      </mat-step>
</mat-vertical-stepper>
