
<div style="display: flex; margin: 5px;">
<ng-container *ngIf="groupName; else elseTemplate">
        <h4>Activités de {{groupName}}</h4>
</ng-container>
<ng-template #elseTemplate>
        <h4>Activités publiques</h4>
</ng-template>
</div>

<div style="display: flex; margin: 5px;">
    
    
    <div> 
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        
        <mat-checkbox matInput (change)="filterInscrit($event)">Où je suis inscrit</mat-checkbox>
    </div>  
    <div style="margin-left: auto; margin-bottom: auto; margin-top: auto;" >    
        <button  color="primary" mat-raised-button (click)="navigateAddEvent()">
            Ajouter
        </button>
    </div>
</div>
   



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    
    <ng-container matColumnDef="date"> 
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
      <td mat-cell *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
            
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
        
            
            <ng-container *ngIf="element?.isInscrit; 
                then desinscriptionTemplate; else inscriptionTemplate">
            </ng-container>

            <ng-template #inscriptionTemplate>
                <button mat-icon-button   matTooltip="Inscription" (click)="inscription(element)">
                  <mat-icon>person_add</mat-icon>
                </button>
            </ng-template>
            <ng-template #desinscriptionTemplate>
                <button mat-icon-button   matTooltip="Desinscription" (click)="desinscription(element)">
                 <mat-icon>logout</mat-icon>
                </button>
            </ng-template>{{element?.inscrits?.length}} 

            <button mat-icon-button  matTooltip="Detail" (click)="navigateDetail(element)">
                    <mat-icon>remove_red_eye</mat-icon>
                   </button>
                 
        </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [@newRow]="row?.status" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'inscrit-highlight': row?.isInscrit }"></tr>
  </table>
  
