<button mat-icon-button matTooltip="Retour" color="primary" (click)="back()">
    <mat-icon>reply</mat-icon> 
</button>

<button *ngIf="event?.lienSiteWeb" mat-icon-button matTooltip="Lien" color="primary" (click)="goToSite()">
    <mat-icon>web</mat-icon> 
</button>

<button *ngIf="!event?.isInscrit" color="primary" mat-icon-button   matTooltip="Inscription" (click)="inscription()">
    <mat-icon>person_add</mat-icon>
  </button>

<button *ngIf="event?.isInscrit" color="primary" mat-icon-button   matTooltip="Desinscription" (click)="desinscription()">
   <mat-icon>logout</mat-icon>
</button>

<button *ngIf="canEdit" color="primary" mat-icon-button   matTooltip="Modifier" (click)="switchEditMode()">
    <mat-icon>edit</mat-icon>
 </button>
     <mat-accordion *ngIf="!editionMode" > 
        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>{{event?.titre}}</b>
                </mat-panel-title>
                <mat-panel-description>
                    Le {{event?.date | date}} <br/>
                    Par {{event?.creator | namefrommail}}
                </mat-panel-description>
            </mat-expansion-panel-header>
           
            
            <p style="white-space: pre-line;">{{event?.description}}</p>
        </mat-expansion-panel>
       
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Liste des inscrits ({{event?.inscrits?.length}})
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table>
                <tr *ngFor="let item of event?.inscrits">
                    <td><mat-icon>person</mat-icon></td>
                    <td>{{item | namefrommail }}</td>
                </tr>
            </table>
        </mat-expansion-panel>


        <mat-expansion-panel (opened)="openComments()" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Commentaires ({{(comments$ | async)?.length}})
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div cdkScrollable  class="comments-div">   
                <div *ngIf="(comments$ | async) && (comments$ | async)?.length > 0">
                <mat-card style="margin:2px;" *ngFor="let comment of (comments$ | async)">
                <mat-card-header>
                    <mat-card-subtitle>
                            {{comment.author | namefrommail }}, le {{comment.date | date : 'dd/MM/yy HH:mm'}}
                        </mat-card-subtitle>
                </mat-card-header>
                    {{comment.comment}}
                </mat-card>
                </div>
            </div>
            
            <div style="display: flex; margin: 5px;">
                <div style="width: 100%">
                    <mat-form-field style="width: 100%">
                        <textarea matInput placeholder="Commentaire" [(ngModel)]="commentaire"
                        matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=10
                        ></textarea>
                    </mat-form-field>
                </div>
                <div>    
                    <button mat-icon-button color="primary"  matTooltip="Envoyer" (click)="addComment()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

        
<mat-card *ngIf="editionMode">
        <mat-card-title>Modifier l'activité</mat-card-title>
        <mat-card-content>           
            <app-event-form [event]="event" (submitForm)="updateEvent($event)" (cancelForm)="cancelUpdate()"></app-event-form>   
        </mat-card-content>
    </mat-card>
       
    